@import '~stylus/variable'
@import '~stylus/reset'
@import '~stylus/mixins'

.bg
    background-color $baseColor
.clear:after, .clear:before
    clear()
.mt-15
    margin-top 15px
.title-top
    padding 20px
    box-sizing border-box
    font-size 14px
    color #333